/* src/pages/Quiz.css */
.quiz-page {
  background-color: var(--background-color);
  padding: 2rem;
}

.quiz-header {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.btn {
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  transition: background-color var(--transition-fast),
    color var(--transition-fast);
}

.btn:hover {
  background-color: var(--secondary-color);
  color: #fff;
}
